{% extends 'base.html' %}


{% block extra_headers %}
    {{ block.super }}

<link rel="stylesheet" href="/static/assets/css/plugins/brand-buttons/brand-buttons.css">
<link rel="stylesheet" href="/static/assets/css/plugins/brand-buttons/brand-buttons-inversed.css">


    <link rel="stylesheet" href="/static/assets/css/user.css">


{% endblock %}


{% block content %}

            <!--=== Content Part ===-->
    <div class="container content">
    	<div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                <form class="reg-page" action="" method="post">{% csrf_token %}
                    <div class="reg-header">
                        <h2>Авторизация</h2>
                    </div>

                    {% if form.non_field_errors %}
                        
                            <div class="alert alert-danger fade in">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                {{ form.non_field_errors }}
                            </div>
                        
                    {% endif %}
                    {% for field in form %}

                        <div class="margin-bottom-20">
                            {% if field.errors %}
                                {{ field.errors }}
                            {% endif %}
                            {{ field }}
                        </div>
                    {% endfor %}

                    <div class="row">
                        <div class="col-md-9">
                            <button class="btn-u pull-right" type="submit">Авторизоваться</button>
                        </div>
                    </div>

                    <hr>

                   
                </form>
                  <div class="social-wrap c">
                <br/>
                {% if request.GET.next %}
                    <a href="/login/vk-oauth2/?next={{ request.GET.next }}"> <button class="btn btn-block btn-vk-inversed rounded">Войти через VK</button></a><br/>
                    <a href="/login/facebook/?next={{ request.GET.next }}"><button class="btn btn-block btn-facebook-inversed rounded">Войти через Facebook</button></a>
                {% else %}
                    <a href="/login/vk-oauth2/"> <button class="btn btn-block btn-vk-inversed rounded">Войти через VK</button></a><br/>
                    <a href="/login/facebook/"><button class="btn btn-block btn-facebook-inversed rounded">Войти через Facebook</button></a>
                {% endif %}
                

                
                </div>

                <hr>

                <h4>Забыли пароль?</h4>

                <p><a class="color-green" href="{% url 'forgot_password' %}">Нажмите</a>, чтобы восстановить</p>
            </div>
        </div><!--/row-->
    </div><!--/container-->
    <!--=== End Content Part ===-->

{% endblock %}
