{% extends 'base.html' %}




{% block content %}

            <!--=== Content Part ===-->
    <div class="container content">
    	<div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            
                <form action="" method="post">{% csrf_token %}
                <div class="reg-header">
                        <h2>Восстановление пароля</h2>
                    </div>
                    {% if form.non_field_errors %}
                        <div style="margin: 0 100px;">
                            <div class="alert pink">
                                {{ form.non_field_errors }}
                            </div>
                        </div>
                    {% endif %}
                    {% for field in form %}

                         <div class="margin-bottom-20">
                            {% if field.errors %}
                                {{ field.errors }}
                            {% endif %}
                            <label style="margin-top: 20px;">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-md-9">
                            <button class="btn-u pull-right" value="Восстановить" type="submit">Восстановить</button>
                        </div>
                    </div>
                </form>
            
                </div>
                
        </div><!--/row-->
    </div><!--/container-->
    <!--=== End Content Part ===-->

{% endblock %}