{% extends 'base.html' %}
{% block include %}


{% endblock %}

{% block content %}

<!--=== Content Part ===-->
<div class="container content">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <form class="reg-page" action="" method="post">{% csrf_token %}
                <div class="reg-header">
                    <h2>Регистрация</h2>
                </div>

                {% if form.non_field_errors %}
                <div class="alert alert-danger fade in">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ form.non_field_errors }}
                </div>
                {% endif %}
                {% for field in form %}

                <div class="margin-bottom-20">
                    {% if field.errors %}
                    {{ field.errors }}
                    {% endif %}
                    {{ field }}
                </div>
                {% endfor %}

                <div class="row">
                    <div class="col-md-9">
                        <button class="btn-u pull-right" type="submit">Зарегистрировать</button>
                    </div>
                </div>


            </form>

            <hr>

            <!--<h4>Забыли пароль?</h4>-->
<!---->
            <!--<p><a class="color-green" href="{% url 'forgot_password' %}">Нажмите</a>, чтобы восстановить</p>-->
        </div>
    </div>
    <!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->

{% endblock %}