{% extends 'base.html' %}

{% block content %}
    {#    {{ block.super }}#}

    <div class="container">

        <div class="form-box">
            <h1>Восстановление пароля</h1>

            <div>

               Пароль успешно изменен, <a href="{% url 'login_user' %}"> авторизуйтесь!</a>
            </div>
        </div>
    </div>




{% endblock %}
