{% extends 'base.html' %}

{% block content %}
    {#    {{ block.super }}#}

    <div class="container">

        <div class="form-box">
            <h1>Восстановление пароля</h1>

            <div>

               Письмо с инструкциями успешно отправлено!
            </div>
        </div>
    </div>




{% endblock %}
